<div class="example-container">
    <h3>ADD PRODUCT</h3>
    <form method="post" action="products/product-add" [formGroup]="productForm"   enctype="multipart/form-data">
        <mat-form-field>
                <label><b>Product Name:</b></label>
                <input matInput placeholder="" formControlName="prod_name" />
                
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="submitted && myForm.prod_name.errors?.required">
                Name is required.
              </div>
            <mat-form-field>
                <label><b>Product Price:</b></label>
                <textarea matInput placeholder="" formControlName="prod_price"></textarea>
            </mat-form-field>
            <mat-form-field>
                <label><b>Product Description:</b></label>
                <textarea matInput placeholder="" formControlName="prod_description"></textarea>
            </mat-form-field>
        
            <br/>
                <label><b>Select Category:</b></label>
                <select placeholder="" class="ddl" formControlName="prod_category">
                    <option value={{category._id}} *ngFor="let category of Category; let i = index">{{category.cat_name}}</option>
                </select>
            
            <br/>
                    <label><b>Select ProductType:</b></label>
                    <select placeholder="" class="ddl" formControlName="prod_productType" >

                        <option value={{prodtype._id}}  *ngFor="let prodtype of ProductType; let i = index">{{prodtype.prodtype_name}}</option>
                        
                    </select>
                
               <div class="imgdiv">
                    <label> <b>Select Images:</b> </label>
                    <input placeholder="" type="file" id="prod_photo" name="prod_photo" ng2FileSelect [uploader]="uploader" (change)="onFileChanged($event)" formControlName="prod_photo" accept="image/*" />
               </div>
               <!-- <button mat-raised-button type="submit" color="primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Submit</button>  -->
                <button mat-raised-button type="submit"  color="primary" (click) ="onSubmit(productForm.value)">Submit</button>
    </form>
    
</div>
